@{
    Layout = null;
}
@using FFTX.Models
<!DOCTYPE html>

<html>
<head>
    <title>searchFriend</title>
</head>
<body>
    <div>
         查找到的用户信息如下:<br />
         用户名:@ViewBag.friend.User_Name<br />
         用户ID:@ViewBag.friend.User_Id
    </div>
</body>
</html>
