@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>aa</title>
</head>
<body>
<img  id = "kedaya" src="/Content/1.jpg" >

<p><strong>下面是canvas</strong></p>

<canvas id="myCanvas"  >your browser does not support the canvas tag </canvas>


<script type="text/javascript">

var img = document.getElementById("kedaya");

    //图片加载后  进行绘制
    img.onload = function () {
        
        //根据img标签后去 image对象
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0, img.width, img.height);
        //保存图片
        // 图片导出为 png 格式
        var imgData = canvas.toDataURL("png");
       // console.log(imgData);
        console.log("*********************************************************************");
        var b64 = imgData.substring(22);

        //b64 = b64.replace(/\+/g, "999aaa999");
        b64 = encodeURIComponent(b64);

        console.log(b64);
        console.log(b64.length);
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("Post", "/FindPwd/Test", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("imgData=" + b64);
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert(xmlhttp.responseText+"!!!");
            }
        }

    }
    function f() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("Post", "/FindPwd/Test", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("imgData=" + b64);
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert(xmlhttp.responseText);
            }
        }
    }
</script>

</body>
</html>