@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ShowPwd</title>
</head>
<body>
    <div>
        您的密码是: @ViewBag.pwd<br />
        <a href="/Login/Index">返回登录</a>
    </div>
</body>
</html>
